/.idea
/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/0.js
/public/1.js
/public/2.js
/public/3.js
/public/4.js
/public/5.js
/public/6.js
/public/7.js
storage/debugbar/.gitignore
/public/mix-manifest.json
/_ide_helper.php
/.phpstorm.meta.php
