///* ==== Google font ====
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700');
//
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}
/**Login fonts **/
@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}
/**Login fonts **/
/* Определение «system» семейства шрифтов */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"),
  local(".HelveticaNeueDeskInterface-Light"),
  local(".LucidaGrandeUI"),
  local("Ubuntu Light"),
  local("Segoe UI Light"),
  local("Roboto-Light"),
  local("DroidSans"),
  local("Tahoma");
}

